
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), 
  url('Poppins-SemiBold.woff') format('woff'), 
  url('Poppins-SemiBold.ttf')  format('truetype'), 
  url('Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
