<!-- Your Basic Site Informations -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<meta name="author" content="">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<!-- Mobile Specific Meta -->
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<meta name="keywords" content="{% if page.meta-keywords %}{{ page.meta-keywords }}{% else %}{{ site.keywords }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<base href="/" />
<!-- Standard Favicon -->
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/images/favicon.png" />
<!-- Stylesheets -->
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

<meta name="google-site-verification" content="QCa_YXMPHmJ1mHER9AYjzWwnu0CWf9thAAXLDHO34BY" />


<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P593C44');
</script>
<!-- End Google Tag Manager -->
<script type="application/ld+json">    {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "Apexure",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Office 7 35-37 Ludgate Hill,",
          "addressLocality": "London",
          "addressRegion": "London",
          "postalCode": "EC4M 7JN"
        },
        "telephone": "020 8050 2404",
        "alternateName": "Web Design Agency London",
        "description": "Conversion Rate Optimisation ✓  Ecommerce Web Design ✓  Digital Design Agency ✓ High Converting Landing Pages ✓ Unbounce Landing Page",
        "image": "{{site.baseurl}}/images/apexure-logo_logo.png"
      }
    </script>
    {% seo %}

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <!-- <script src="{{site.baseurl}}/js/cookie.js"></script> -->

<!-- OneTrust Cookies Consent Notice start -->

        <script src="https://cdn.cookielaw.org/consent/78b293b4-2245-4618-9ea7-91d36b7b8058.js" type="text/javascript" charset="UTF-8"></script>

        <script type="text/javascript">

        function OptanonWrapper() { }

        </script>

<!-- OneTrust Cookies Consent Notice end -->