
<header class="header clear sticky">
  <div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="logo">
			  <a href="{{site.baseurl}}">
			  	<img src="{{site.baseurl}}/images/apexure-logo_logo.png" alt="apexure-logo" class="img-fluid">
			  </a>
			</div>	
		</div>
		
			<div class="col-md-9 menu_alignment">
			  <div id="main_menu">	
				<div class="main_menu_container">
				 <nav class="navbar navbar-expand-lg navbar-light justify-content-end">
	              <a class="navbar-brand d-sm-none d-none" href="#">Menu</a>
	               <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#bsnavbar" aria-controls="bsnavbar" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	               </button>

	              <div class="collapse navbar-collapse" id="bsnavbar">
	                <ul id="menu-header-menu" class="nav navbar-nav">
	                  <li><a href="{{site.baseurl}}/who-we-are/">Who We Are</a></li>
										<li><a href="{{site.baseurl}}/unbounce-landing-page-designer/">Unbounce Landing Pages</a></li>
										<li><a href="{{site.baseurl}}/landing-page-design/">Landing Pages</a></li>
										<li><a href="{{site.baseurl}}/blog/">Blog</a></li> 
										<li><a href="{{site.baseurl}}/contact-us/" id="contact_cta">Contact Us</a></li>
									</ul>  
				 				</div>
	        	</nav>
				</div>
			  </div>
			</div>		
	    </div>
   </div>
</header>
