<header class="header-dark" id="dark-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-portfolio">
                    <a href="{{site.baseurl}}">
                        <img src="{{site.baseurl}}/images/apexure-logo-2.png" alt="apexure-logo" class="img-fluid">
                    </a>
                </div>	
            </div>

            <div class="col-md-8">
                <div class="header-right-side">
                    <div class= "right-text">
                        <p>Get a bespoke design for your brand</p>
                    </div> 
                    <div class="cta">
                       <a href="{{site.baseurl}}/contact-us/"><button>Order your page now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

