<section id="blog_you_may_like">
	<div class="blog_container container">
		<div>
			<h2 class="text-center">You May Also Like</h2>
			<div class="blog_you_may_like_inner_wrapper">
			 {% for post in site.posts limit:2  %}
				 <div class=" blog_inner_alignment">
	                   <div class="blog_wrapper"> 
		                    <div class="blog_banner_image_wrapper">
		                      <a href="{{ site.baseurl }}{{ post.url }}">  
		                       <img class="img-fluid blog_banner_image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
		                      </a> 
		                    </div> 
	                       <div class="blog_box">
	                         <div class="blog_content_alignment">
	                           <div class="author_wrapper"> 
	                            <div class="author_image">
	                              <img class="rounded-circle" src="{{ site.baseurl }}{{ post.author-image }}" alt="{{ post.author }}">
	                            </div> 
	                            <span class="blog_author">{{ post.author }} </span>
	                            <span class="blog_seperator">|</span>
	                            <span class="blog_news_date">  {{ post.date | date:"%d %b %Y" }} </span>
	                            </div>      
	                              <a href="{{ site.baseurl }}{{ post.url }}"> <h4> {{ post.title }} </h4></a>
	                          </div>    
	                            <div class="blog_main_content_align">
	                             <p>{{ post.content | strip_html | truncatewords: 18 }}</p>
	                            </div> 
	                         </div>  
	                      </div>
	                   </div>
			 {% endfor %}
		   </div> 
		</div>
	</div>
</section>