
<script src="{{site.baseurl}}/js/bootstrap/bootstrap.min.js"></script>
<!-- <script src="{{site.baseurl}}/js/bootstrap/bootstrap.min.js.map"></script> -->
<script src="{{site.baseurl}}/js/jquery/jquery.min.js"></script>
<!--  <script src="js/lightbox/lightbox.min.js"></script>
<script src="js/lightbox/lightbox.min.map"></script>
<script src="js/lunr/lunr.js"></script>
<script src="js/popper/popper.min.js"></script>
<script src="js/popper/popper.min.js.map"></script>
<script src="js/search/search.js"></script> -->
<!-- <script src="https://cc.cdn.civiccomputing.com/8/cookieControl-8.x.min.js"></script>
<script type="text/javascript">
    var config = {
        apiKey: 'ecdc00a3bd8aab2debacb7e5c028faabfd85070b',
        product: 'COMMUNITY',
        initialState: "open",
        text : {
        title: 'This site uses cookies.',
        intro:  'Some of these cookies are essential, while others help us to improve your experience by providing insights into how the site is being used.',
        necessaryTitle : 'Necessary Cookies',
        necessaryDescription : 'Necessary cookies enable core functionality. The website cannot function properly without these cookies, and can only be disabled by changing your browser preferences.',
        thirdPartyTitle : 'Warning: Some cookies require your attention',
        thirdPartyDescription : 'Consent for the following cookies could not be automatically revoked. Please follow the link(s) below to opt out manually.'
      },
        statement : {
        description: 'For more information vist our',
        name : 'Privacy Statement',
        url: 'https://www.apexure.com/privacy/',
        updated : '16/01/2019'
      },
        optionalCookies: [
        {
                    name: 'analytics',
                    label: 'Analytics',
                    description: 'We use analytics cookies to help us to improve our website by collecting and reporting information on its usage and consumer interactions.',
                    cookies: [],
                    onAccept : function(){},
                    onRevoke: function(){}
                },{
                    name: 'marketing',
                    label: 'Marketing',
                    description: 'We use marketing cookies to help us identify where our customers are coming from and which websites they may have visited or links that they may have clicked before arriving on our website.',
                    cookies: [],
                    onAccept : function(){},
                    onRevoke: function(){}
                },{
                    name: 'social sharing',
                    label: 'Social Sharing',
                    description: 'We use some social sharing plugins, to allow you to share certain pages of our website on social media. These plugins place cookies so that you can correctly view how many times a page has been shared.',
                    cookies: [],
                    onAccept: function () {},
                    onRevoke: function () {}
                }
        ],

        position: 'LEFT',
        theme: 'DARK'
    };
    
    CookieControl.load( config );
</script> -->

<script src="{{site.baseurl}}/js/main.js"></script>



