$lightGrey: #f7f7f7;
$black: #000;
$white: #ffffff;
$whiteGrey: #fafafa;
$whitesmoke: #f5f5f5;
$maroon: #b10610;
$darkBlack: #444444;
$blueLinks: #2878db;
$buttonBackground: #FFB600;
$buttonBackgroundHover: #F2A300;
$buttonColor: #231e46;
$copyRight: #929191;
$blueColor: #68bbd3;
$listItemCheck: #9d70e2;
$purple: #410099;
$activeNav: #ffb600;
$mainPurple: #3d2683;