@import "colorvariable";
/*************
 Fonts Path
*************/
@font-face {
   font-family: 'Poppins-Bold';
   src: url('../fonts/PoppinsFont/Poppins-Bold/Poppins-Bold.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/PoppinsFont/Poppins-Bold/Poppins-Bold.woff') format('woff'), 
    url('../fonts/PoppinsFont/Poppins-Bold/Poppins-Bold.ttf')  format('truetype'), 
    url('../fonts/PoppinsFont/Poppins-Bold/Poppins-Bold.svg#Poppins-Bold') format('svg');
   font-weight: normal;
   font-style: normal;
 }

@font-face {
   font-family: 'Poppins-Regular';
   src: url('../fonts/PoppinsFont/Poppins-Bold/Poppins-Regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/PoppinsFont/Poppins-Regular/Poppins-Regular.woff') format('woff'), 
    url('../fonts/PoppinsFont/Poppins-Regular/Poppins-Regular.ttf')  format('truetype'), 
    url('../fonts/PoppinsFont/Poppins-Regular/Poppins-Regular.svg#Poppins-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

@font-face {
   font-family: 'Poppins-SemiBold';
   src: url('../fonts/Poppins Font/Poppins-Bold/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/PoppinsFont/Poppins-SemiBold/Poppins-SemiBold.woff') format('woff'), 
   url('../fonts/PoppinsFont/Poppins-SemiBold/Poppins-SemiBold.ttf')  format('truetype'), 
   url('../fonts/PoppinsFont/Poppins-SemiBold/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Poppins-ExtraLight';
   src: url('../fonts/PoppinsFont/Poppins-ExtraLight/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),  
   url('../fonts/PoppinsFont/Poppins-ExtraLight/Poppins-ExtraLight.woff') format('woff'), 
   url('../fonts/PoppinsFont/Poppins-ExtraLight/Poppins-ExtraLight.ttf')  format('truetype'), 
   url('../fonts/PoppinsFont/Poppins-ExtraLight/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Poppins-Light';
   src: url('../fonts/PoppinsFont/Poppins-Light/Poppins-Light.eot?#iefix') format('embedded-opentype'),  
   url('../fonts/PoppinsFont/Poppins-Light/Poppins-Light.woff') format('woff'), 
   url('../fonts/PoppinsFont/Poppins-Light/Poppins-Light.ttf')  format('truetype'), 
   url('../fonts/PoppinsFont/Poppins-Light/Poppins-Light.svg#Poppins-Light') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Poppins-Medium';
   src: url('../fonts/PoppinsFont/Poppins-Medium/Poppins-Medium.eot?#iefix') format('embedded-opentype'),  
   url('../fonts/PoppinsFont/Poppins-Medium/Poppins-Medium.woff') format('woff'), 
   url('../fonts/PoppinsFont/Poppins-Medium/Poppins-Medium.ttf')  format('truetype'), 
   url('../fonts/PoppinsFont/Poppins-Medium/Poppins-Medium.svg#Poppins-Medium') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: 'Poppins-Italic';
   src: url('../fonts/PoppinsFont/Poppins-Italic/Poppins-Italic.eot?#iefix') format('embedded-opentype'),  
   url('../fonts/PoppinsFont/Poppins-Italic/Poppins-Italic.woff') format('woff'), 
   url('../fonts/PoppinsFont/Poppins-Italic/Poppins-Italic.ttf')  format('truetype'), 
   url('../fonts/PoppinsFont/Poppins-Italic/Poppins-Italic.svg#Poppins-Medium') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 
 
/*************
Typography
*************/

body{
   font-size:18px;
   color: $darkBlack;
   font-family: 'Poppins-Regular';
   line-height: 28px;
   padding:0;
   background-color: $white !important;
}

h1 {
   font-size:44px;
   color: $darkBlack;
   font-family: 'Poppins-SemiBold';
   line-height: 56px;
   margin:0;
   padding: 0 0 20px 0;
   letter-spacing: 1px;
}

h2 {
   font-size:40px;
   color: $darkBlack;
   font-family: 'Poppins-Regular';
   line-height: 52px;
   margin:0;
   padding: 0 0 20px 0;
   letter-spacing: 1px;
}

h3 {
   font-size:30px;
   color: $darkBlack;
   font-family: 'Poppins-SemiBold';
   line-height: 42px;
   margin:0;
   padding: 0 0 10px 0;
   letter-spacing: 1px;
}

h4 {
   font-size:24px;
   color: $darkBlack;
   font-family: 'Poppins-SemiBold';
   line-height: 36px;
   margin:0;
   padding: 0;
}

h5 {
   font-size:20px;
   color: $darkBlack;
   font-family: 'Poppins-SemiBold';
   line-height: 32px;
   margin:0;
   padding: 0;
}

h6 {
   font-size:18px;
   color: $darkBlack;
   font-family: 'Poppins-SemiBold';
   line-height: 30px;
   margin:0;
   padding: 0;
}

p{
   font-size:16px;
   color: $darkBlack;
   font-family: 'Poppins-Regular';
   line-height: 28px;
   margin:0;
   padding: 0 0 10px 0;
   a{
    font-size:16px;
    line-height: 28px;
  }
}

span{
   font-size:18px;
   color: $darkBlack;
   font-family: 'Poppins-Regular';
   line-height: 28px;
   margin:0;
   padding: 0 0 20px 0;
}

a{
   font-size: 16px;
   font-family: 'Poppins-Regular';
   color: $blueLinks;
   &:hover{
      color: $darkBlack;
      text-decoration: none;
   }
}

               /*************Blog typography***************/

      .blog_container_new{
         h3{
            font-size: 30px;
            line-height: 40px;
            font-family: 'Poppins-SemiBold';
            font-weight: 600;
         }
         h4{
            font-size: 24px;
            line-height: 34px;
            font-family: 'Poppins-SemiBold';
            font-weight: 600;
         }
         h5{
            font-size: 28px;
            line-height: 38px;
            font-family: 'Poppins-SemiBold';
            font-weight: 600;
          }
      
          h6{
            font-size: 22px;
            line-height: 32px;
            font-weight: 600;   
            font-family: 'Poppins-SemiBold';
          }
         p{
            font-size: 16px;
            line-height: 26px;
            font-family: 'Poppins-Regular';
            padding-bottom: 20px;
         }
         a{ 
            font-size: 16px;
            font-family: 'Poppins-Regular';
         }
         ul{
            li{
               font-size: 16px;
              font-family: 'Poppins-Regular';
            }
         }
      }

   
/*************
MEDIA QUERIES
*************/
@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 

}

@media (max-width: 767.98px) { 
  h1 {
     font-size:36px;
     line-height:44px;
  }
  h2 {
     font-size:32px;
     line-height:38px;
  }

  h3 {
     font-size:28px;
     line-height:34px;
  }

  h4 {
     font-size:24px;
     line-height:30px;
  }

  h5 {
     font-size:20px;
     line-height:28px;
  }
  p, span {
     font-size:16px;
     line-height:24px;
  }
}

@media (max-width: 575.98px) { 

}

@media (max-width: 475.98px) { 

}

@media (max-width: 375.98px) { 

}