/*************
MEDIA QUERIES
*************/
@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 

 #what_we_believe{
    .nav {
       a{
        margin-bottom:20px;
        font-size: 22px;
        padding: 15px 25px;
       }
      }
   }
  #who_we_are_testimonial {
     p{
      width:80%;
     }
  }
  #cta{
    padding:20px 0;
    .cta_content{
      h2{
      width:90%; 
      
      font-size: 40px;
     }
    } 
  }

  #header_wrapper{
    .about_alignment{
      h1{
        width: 85%;
      }    
    }
  }

  #our_team{

    .our_team_list{
      .team_box{
        flex-basis: 48%;
      }
    }
  }

}

@media (max-width: 767.98px) { 

    #header_wrapper{
    	height: auto;
    	padding-bottom: 30px;
      min-height:400px;
      height:400px;
      h1{
        width: 95%;
      }  
      .general_header_inner_wrapper{
      // padding-top:100px;
       }
       h4{
          width: 100% !important;
          font-size:20px;
       }
    }
	

	#our_story{
     padding:70px 0;
     .journey_alignment{
        flex-wrap: wrap-reverse;
        padding-top:50px;
        .our_story_image{
          padding-bottom:30px;
          padding-top:50px;
        }
        p{
          padding-bottom:20px;
        }
     } 
  }
 #what_we_believe{
    padding-bottom:80px;
    h2{
      padding-bottom:50px;
    }
    .nav {
       a{
        margin-bottom:20px;
        font-size: 18px;
        padding: 15px 25px;
       }
      }
    .what_we_belive_tab_content { 
        img{
          margin-bottom:30px;
          }
          p{
            width:80%;
          }
       }
   }
  #our_customers{
      padding: 60px 0 40px 0;
    .our_customer_images{
      padding-bottom:30px;
      width:50%;
    }
  }
  #who_we_are_testimonial{
    padding: 70px 0;
    p{
      width: 85%;
      font-size: 16px;
    }
  }
 #cta{
    min-height: 500px;
    .cta_content{
      a{
        max-width: 280px;
        width: 280px;
        font-size:24px;
      }
      h2{
        width:90%;
        font-size:28px;
      }
      h4{
        width:95%;
      }
    } 
 }

    #about_us{
      padding: 50px 0 50px 0;
      p{
        width: 100%;
      }
      .stats_section{
        padding-top: 50px;
        .stats_left{
          flex-basis: 100%;
        }
        .stats_right{
          flex-basis: 100%;
        }
        .stats_left{
          .box_left_wrapper{
            flex-basis: 48%;
          }
          .box_right_wrapper{
            flex-basis: 48%;
          }
          .stats_box{
            .box-inner_alignment{
              width: 85%;
              h2{
                font-size: 28px;
              }
              h4{
                font-size: 20px;
                line-height: 30px;
              }
            }
            
          }
        }
      }
    }

    #our_team{
      padding: 40px 0 10px 0;
      h2{
        padding-bottom: 40px;
      }
      .our_team_list{
        .team_box{
          flex-basis: 98%;
          background-position: 110% 100%;
          .employee_image {
            padding-bottom: 20px;
          }
          .team_social_links{
            padding-bottom: 0px;
          }
        }
      }
    }

    #ceo_review{
      padding: 50px 0;
      .ceo_message{
        padding-top: 30px;
        .quote{
          width: 32px;
          margin-bottom: 30px;
        }
        p{
          font-size: 18px;
          line-height: 28px;
        .apexure_logo{
          width: 187px;
        }
      }
    }
  }

}

@media (max-width: 575.98px) { 





}

@media (max-width: 375.98px) { 

  #our_story{
    .journey_alignment{
      .clients_employees{
        flex-wrap: wrap;
      }
    }
  } 

}