/*************
MEDIA QUERIES
*************/
@media  (min-width: 1550px){

	.blog_outer_alignment{
	    .tab-content{
	    	.tab-pane{
		      .blog_inner_alignment:first-child{
			  	    .blog_wrapper{
			  	    	padding: 50px;
			  	    }
			    }
	    	}	
	    }
	  
	}
	
}

@media (max-width: 1199.98px) { 

   .blog_author{
	 text-align:center;
	}
}

@media (max-width: 991.98px) { 

	.blog_width{
		flex-basis: 80%;
	 }

	 .blog_wrapper{
		.blog_box{
		  .blog_content_alignment{
		  	.author_wrapper{
				.blog_author{
                 text-align:center;
				}
				.blog_seperator{
			     margin:0 10px;
				}
			}
		  }	 	
		}	
	}



}

@media (max-width: 767.98px) { 

#blog_body{
/* 	display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: #f4f5f5; */
	.sidebar{
		flex-basis: 100%;
		padding-top:20px;
		.nav{
		   display:block;	
			a{				
			font-size: 24px;
			color: #444;
			font-family: 'BrandonText-Bold';
			line-height: 34px;
			margin: 0;
			padding: 0;
			padding-left:30px;
			margin-bottom:30px;
			&:hover{
				text-decoration:underline;
			}
		  }
		}
		 .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
			
			border-radius:0;
			background-color:transparent;
			border:none;
			border-right:5px solid #4e51c1;
		}
		.nav-tabs .nav-link, .nav-tabs{
			border:none;
		}
		
	}
	.blogMainWrapper{
     display:flex;
     display: flex;
     flex-basis: 100%;
     flex-wrap: wrap;
	}	
}



	.blog_outer_alignment{
	    display: flex;
	    flex-basis: 100%;
	    flex-wrap: wrap;
	    justify-content: space-evenly;
	    background-color: $white;
	    .tab-content{
	    	.tab-pane{
	    		.blog_main_title{
	    			margin-bottom:20px;
	    			h4{
	    				padding-bottom:10px;	
	    			}
	    		}
	    		.blog_outer_second_alignment{
					display: flex;
					flex-basis: 100%;
					flex-wrap: wrap;
					justify-content: space-evenly;
	    		}
	    		.blog_inner_alignment{
		  	     flex-basis: 100%;
		      }
		      .blog_inner_alignment:first-child{
			  	    flex-basis: 100%;
			  	    .blog_wrapper{
			  	    }
			  	    .blog_banner_image_wrapper{
			  	    	flex-basis: 100%;
			  	    }
			  	    .blog_box{
			  	    	//padding-left:20px;
			  	    	flex-basis: 100%;
			  	    }
			    }
	    	}	
	    }
	  
	}
	.blog_width{
		flex-basis: 100%;
		padding: 50px 20px 0 20px;
	}

}

@media (max-width: 575.98px) { 
	.dev_info{
		text-align: center;
	}

	#dev_tips {
		.corner_img{
			img{
				height: 50px;
			}
		}
	}
	// .active_camp_form{
	// 	form{
	// 		._form-content{
	// 			._field-wrapper{
	// 				#_form_1_ ._inline-style input[type="text"]{
	// 					width: 100%;
	// 				} 
	// 			}
	// 		}
	// 	}
	// }

}

@media (max-width: 375.98px){
	
}
