@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 
	#header_wrapper.header_wrapper_error{
		.general_header_inner_wrapper{
			.main_banner.banner_heading_error{
				h3{
					width: 85%;
				}
			}
		}
	}

	#go_back_homepage{
		.outer_wrapper{
			.inner_wrapper{
				padding: 65px 54px
			}
		}
	}
}

@media (max-width: 767.98px) { 
	#header_wrapper.header_wrapper_error{
		.general_header_inner_wrapper{
			.main_banner.banner_heading_error{
				h1{
					font-size: 150px;
				}

				h3{
					width: 99%;
				}
			}
		}
	}

	#go_back_homepage{
		margin-top: -35px;
		.outer_wrapper{
			.inner_wrapper{
				width: 65%;
				padding: 65px 42px
			}
		}
	}
}

@media (max-width: 575.98px) { 	
	#header_wrapper{
		.general_header_inner_wrapper{
			.main_banner.banner_heading_error{
				h1{
					font-size: 130px !important;
					padding: 60px 0px !important;
				}

				h3{
					width: 95%;
				}
			}
		}
	}
	#go_back_homepage{
		.outer_wrapper{
			.inner_wrapper{
				width: 90%;
				padding: 65px 10px;
				.buttons{
					.go_back_button{
						a{
							max-width: 225px;
					    	width: 225px;
					    	font-size: 18px;
						}
					}
				}
			}
		}
	}
}