@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 
	header{
		.row{
			align-items: end;
		}
		.main_menu_container{
	    	.navbar{
	    		.navbar-toggler{
	    			outline: none;
	    		}
	    	}	
		}
		#menu-header-menu{
			li{
				padding-bottom: 20px;
			}
		}
		#main_menu{
			a{
				&:hover {
					text-decoration: none;
					&:after {
						display: none;
					}
				}
	
			}
		}
	}
	
  }

@media (max-width: 767.98px) { 
	#header_wrapper{
		 //background: #6960cd !important;
		 min-height: 450px !important;
    	 height: 450px !important;  
	}

	.main_banner{
		padding-top: 20px;
	}

	header{
		//position: sticky;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	    //background-color: #6960cd;
		padding-top: 22px;
		padding-bottom: 5px;
	    .main_menu_container{
	    	.navbar{
	    		.navbar-toggler{
	    			position: absolute;
				    left: 0;
				    top: 11px;
				    outline: none;
	    		}
	    	}	
	    }
	    .main_menu_container{
	    	.navbar{
	    		#menu-header-menu{
	    			text-align: left;
	    		}
	    	}		
	    }
	    
	    .logo{
	    	display: flex;
		    justify-content: center;
			margin: 0 auto;
			text-align: center;
			img{
				width: 51%;
			}
	    }
	}
	#menu-header-menu li{
		padding-bottom: 15px;
	}
	.menu_alignment{
		justify-content: end;
	}
	#contact_cta{
		padding: 10px 50px;
		display: inline-block;
	}
}

@media (max-width: 575.98px) { 
	header{
		//position: sticky;
		top: 0;
		.logo{
			width: 70%;
			img{
				width: 70%;
			}
		}
		.main_menu_container{
	    	.navbar{
	    		.navbar-toggler{
	    			position: absolute;
				    top: 11px;
				    left: 4px;
	    		}
	    	}	
	    }
	}

}

@media (max-width: 399px) { 
	header{
		.main_menu_container{
	    	.navbar{
	    		.navbar-toggler{
	    			position: absolute;
				    top: 15px;
				    left: 20px;
	    		}
	    	}	
	    }
	}

}