/*************
MEDIA QUERIES
*************/
@media (max-width: 1199.98px) { 

}

@media (max-width: 991.98px) { 


}

@media (max-width: 767.98px) { 

#category_product_features{
   .category_features_wrapper{
        padding: 0px 20px 10px 20px;
      .product_banner{
        margin-bottom:0;
      }
      .stats{
          .stats_alignment{
            width: 100%;

            .stats_inner_wrapper {
               flex-basis: 89%;
               padding-bottom:20px;
              img{
                margin-bottom:0;
              }
              h4{
                color: #c7d90f;
              }
              p{
                 letter-spacing:1px;
              }
            }
          }
       }


     .heading_width{
        h2{
          width:95%;
          letter-spacing: 1px;
          padding: 80px 0 50px 0;
        }
      }
      img{
        margin-bottom:20px;
      }
      .product_solution_alignment{
        padding-bottom:40px;
      }
      .category_features_content{
        padding-bottom:40px;
      }
      .product_result_alignment{
        padding:20px;
        h4{
          padding-bottom:10px;
        }
      }
   }

}


}

@media (max-width: 575.98px) { 





}