---
title: Blog
permalink: "/blog/"
layout: default
description: Digital Design Agency Essex & London ✓ Professional Web Design ✓ Wordpress
  ✓ Unbounce Landing Page ✓ Web Development Company
meta-keywords: Web Design Agency London ✓ Professional Web Design ✓ Web Design London
  ✓ Unbounce Landing Page ✓ Conversion Rate Optimization  ✓ Lead Generation ✓
pagination:
  enabled: true
  per_page: 2
  category: posts
---

{% include header.html %}
<section id="header_wrapper"  style="background: linear-gradient(to right, #8a1a9b , #410099);">
    
  <div class="general_header_inner_wrapper"> 
   <div class="container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner">
          <h1>Blog</h1>
          <h4 class="text-white">{{page.banner-sub-heading}}</h4>
         </div>
       </div>
    </div>    
   </div>
  </div> 
 </section> 

<section id="blog_body">
  <div class="container-fluid p-0">
    <div class="containers blogMainWrapper">
      <div class="sidebar">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#first-tab" role="tab" aria-controls="first-tab" aria-selected="true">
                  Latest
                </a>
                <a class="nav-item nav-link" id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" aria-selected="false">
                  Unbounce Landing Page
                </a>
                <a class="nav-item nav-link" id="nav-fourth-tab" data-toggle="tab" href="#nav-fourth" role="tab" aria-controls="nav-fourth" aria-selected="false">
                 Development
                </a>
                <a class="nav-item nav-link" id="nav-fifth-tab" data-toggle="tab" href="#nav-fifth" role="tab" aria-controls="nav-five" aria-selected="false">
                 CRO
                </a>
                <a class="nav-item nav-link" id="nav-sixth-tab" data-toggle="tab" href="#nav-sixth" role="tab" aria-controls="nav-six" aria-selected="false">
                  Others
                 </a>
            </div>
          </nav>
      </div>
     

       
        <div class="blog_width">
         <div class="blog_outer_alignment"> 
          <!-- <div>
            <h4>Latest</h4>
          </div> -->
          <!-- <div class="tab-content">
            <div id="unbounce" class="tab-pane fade in active"> -->
            
           <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="first-tab" role="tabpanel"  aria-labelledby="nav-home-tab">
              <div class="blog_main_title">
                <h4>Latest</h4>
              </div>
               <div class="blog_outer_second_alignment">
                {% for post in site.posts  %}<!-- limit:3 -->
                 <div class=" blog_inner_alignment">
                   <div class="blog_wrapper"> 
                    <div class="blog_banner_image_wrapper">
                      <a href="{{ site.baseurl }}{{ post.url }}">  
                       <img class="img-fluid blog_banner_image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                      </a> 
                    </div> 
                       <div class="blog_box">
                         <div class="blog_content_alignment">
                           <div class="author_wrapper"> 
                            <div class="author_image">
                              <img class="rounded-circle" src="{{ site.baseurl }}{{ post.author-image }}" alt="{{ post.author }}">
                            </div> 
                            <span class="blog_author">{{ post.author }} </span>
                            <span class="blog_seperator">|</span>
                            <span class="blog_news_date">  {{ post.date | date:"%d %b %Y" }} </span>
                            </div>      
                              <a href="{{ site.baseurl }}{{ post.url }}"> <h4> {{ post.title }} </h4></a>
                          </div>    
                            <div class="blog_main_content_align">
                             <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                            </div> 
                         </div>  
                      </div>
                   </div>
                  {% endfor %}
                  </div>
               </div><!-- tab-first ending -->

                <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
                  <div class="blog_main_title">
                    <h4> Unbounce Landing Page </h4>
                  </div>
                  <div class="blog_outer_second_alignment">
                   {% for post in site.posts %}
                   {% if post.tags contains 'unbounce-landing-page' %}
                  
                   <div class=" blog_inner_alignment">
                     <div class="blog_wrapper"> 
                      <div class="blog_banner_image_wrapper">
                        <a href="{{ site.baseurl }}{{ post.url }}">  
                         <img class="img-fluid blog_banner_image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                        </a> 
                      </div> 
                         <div class="blog_box">
                           <div class="blog_content_alignment">
                             <div class="author_wrapper"> 
                              <div class="author_image">
                                <img class="rounded-circle" src="{{ site.baseurl }}{{ post.author-image }}" alt="{{ post.author }}">
                              </div> 
                              <span class="blog_author">{{ post.author }} </span>
                              <span class="blog_seperator">|</span>
                              <span class="blog_news_date">  {{ post.date | date:"%d %b %Y" }} </span>
                              </div>      
                                <a href="{{ site.baseurl }}{{ post.url }}"> <h4> {{ post.title }} </h4></a>
                            </div>    
                              <div class="blog_main_content_align">
                               <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                              </div> 
                           </div>  
                        </div>
                     </div>
                     {% endif %}  
                    {% endfor %}
                   </div>
                </div><!-- tab-thirf ending -->

                <div class="tab-pane fade" id="nav-fourth" role="tabpanel" aria-labelledby="nav-fourth-tab">
                  <div class="blog_main_title">
                    <h4> Development </h4>
                  </div>
                 <div class="blog_outer_second_alignment">
                   {% for post in site.posts %}
                   {% if post.tags contains 'code' %}
                  
                   <div class=" blog_inner_alignment">
                     <div class="blog_wrapper"> 
                      <div class="blog_banner_image_wrapper">
                        <a href="{{ site.baseurl }}{{ post.url }}">  
                         <img class="img-fluid blog_banner_image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                        </a> 
                      </div> 
                         <div class="blog_box">
                           <div class="blog_content_alignment">
                             <div class="author_wrapper"> 
                              <div class="author_image">
                                <img class="rounded-circle" src="{{ site.baseurl }}{{ post.author-image }}" alt="{{ post.author }}">
                              </div> 
                              <span class="blog_author">{{ post.author }} </span>
                              <span class="blog_seperator">|</span>
                              <span class="blog_news_date">  {{ post.date | date:"%d %b %Y" }} </span>
                              </div>      
                                <a href="{{ site.baseurl }}{{ post.url }}"> <h4> {{ post.title }} </h4></a>
                            </div>    
                              <div class="blog_main_content_align">
                               <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                              </div> 
                           </div>  
                        </div>
                     </div>
                     {% endif %}  
                    {% endfor %}
                   </div>
                </div><!-- tab-fourth ending -->

                <div class="tab-pane fade" id="nav-fifth" role="tabpanel" aria-labelledby="nav-fifth-tab">
                  <div class="blog_main_title">
                    <h4> CRO </h4>
                  </div>
                 <div class="blog_outer_second_alignment">
                   {% for post in site.posts %}
                   {% if post.tags contains 'cro' %}
                  
                   <div class=" blog_inner_alignment">
                     <div class="blog_wrapper"> 
                      <div class="blog_banner_image_wrapper">
                        <a href="{{ site.baseurl }}{{ post.url }}">  
                         <img class="img-fluid blog_banner_image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                        </a> 
                      </div> 
                         <div class="blog_box">
                           <div class="blog_content_alignment">
                             <div class="author_wrapper"> 
                              <div class="author_image">
                                <img class="rounded-circle" src="{{ site.baseurl }}{{ post.author-image }}" alt="{{ post.author }}">
                              </div> 
                              <span class="blog_author">{{ post.author }} </span>
                              <span class="blog_seperator">|</span>
                              <span class="blog_news_date">  {{ post.date | date:"%d %b %Y" }} </span>
                              </div>      
                                <a href="{{ site.baseurl }}{{ post.url }}"> <h4> {{ post.title }} </h4></a>
                            </div>    
                              <div class="blog_main_content_align">
                               <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                              </div> 
                           </div>  
                        </div>
                     </div>
                     {% endif %}  
                    {% endfor %}
                   </div>
                </div><!-- tab-fourth ending -->

                <div class="tab-pane fade" id="nav-sixth" role="tabpanel" aria-labelledby="nav-sixth-tab">
                  <div class="blog_main_title">
                    <h4>Others</h4>
                  </div>
                 <div class="blog_outer_second_alignment">
                   {% for post in site.posts %}
                   {% if post.tags contains 'others' %}
                  
                   <div class=" blog_inner_alignment">
                     <div class="blog_wrapper"> 
                      <div class="blog_banner_image_wrapper">
                        <a href="{{ site.baseurl }}{{ post.url }}">  
                         <img class="img-fluid blog_banner_image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                        </a> 
                      </div> 
                         <div class="blog_box">
                           <div class="blog_content_alignment">
                             <div class="author_wrapper"> 
                              <div class="author_image">
                                <img class="rounded-circle" src="{{ site.baseurl }}{{ post.author-image }}" alt="{{ post.author }}">
                              </div> 
                              <span class="blog_author">{{ post.author }} </span>
                              <span class="blog_seperator">|</span>
                              <span class="blog_news_date">  {{ post.date | date:"%d %b %Y" }} </span>
                              </div>      
                                <a href="{{ site.baseurl }}{{ post.url }}"> <h4> {{ post.title }} </h4></a>
                            </div>    
                              <div class="blog_main_content_align">
                               <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                              </div> 
                           </div>  
                        </div>
                     </div>
                     {% endif %}  
                    {% endfor %}
                   </div>
                </div><!-- tab-sixth ending -->

             </div><!-- main-tab-wrapper -->
            </div>
             <!--  {% if paginator.total_pages > 1 %} 
               <div class="pagination_alignment clearfix">
                     <div class="pagination clearfix">  
                       {% if paginator.previous_page %}  
                         <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> <i class="fa fa-caret-left fa_arrows"></i></a>  
                        {% else %}  
                         <span><i class="fa fa-caret-left fa_arrows"></i></span>  
                         <span>Previous</span>
                       {% endif %}  
                       
                       {% for page in (1..paginator.total_pages) %}  
                         {% if page == paginator.page %}  
                           <em>{{ page }}</em>  
                         {% elsif page == 1 %}  
                           <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>  
                         {% else %}  
                           <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>  
                         {% endif %}  
                       {% endfor %}  
                       
                       {% if paginator.next_page %}  
                         <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-caret-right fa_arrows"></i></a>  
                        {% else %}  
                         
                         <span>Next</span>
                         <span><i class="fa fa-caret-right fa_arrows"></i></span>  
                       {% endif %}  
                     </div>                  
               </div>pagination_alignment
             {% endif %}  -->
        


        <!-- {% if paginator.total_pages > 1 %}
          <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path | relative_url }}">
                &laquo; Prev x
              </a>
            {% else %}
              <span>&laquo; Prev x</span>
            {% endif %}
        
            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <em>{{ page }}</em>
              {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | relative_url }}">
                  {{ page }}
                </a>
              {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
                  {{ page }}
                </a>
              {% endif %}
            {% endfor %}
        
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | relative_url }}">
                Next d &raquo;
              </a>
            {% else %}
              <span>Next d &raquo;</span>
            {% endif %}
          </div>
          {% endif %} -->



               <!--  <div class="pagination">
                 {% if paginator.previous_page %}
                   <a href="{{ paginator.previous_page_path }}" class="previous">
                     Previous
                   </a>
                 {% else %}
                   <span class="previous">Previous</span>
                 {% endif %}
                 <span class="page_number ">
                   Page: {{ paginator.page }} of {{ paginator.total_pages }}
                 </span>
                 {% if paginator.next_page %}
                   <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                 {% else %}
                   <span class="next ">Next</span>
                 {% endif %}
               </div> -->



          {% for post in paginator.posts %}
            <h1>{{ post.title }}</h1>
          {% endfor %}

          {% if paginator.total_pages > 1 %}
          <ul>
            {% if paginator.previous_page %}
            <li>
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li>
              <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}



        </div><!-- blog_width -->
           
    </div> <!-- container -->
  </div><!-- container-fluid -->
    


  </section>

  {% include newsletter.html %}
	  
