<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
    {% include header.html %}
  <section id="header_wrapper" style="background-image: url({{site.baseurl}}{{ page.banner-image }});" class="contact_page_wrapper">
    
    <div class="contact_page_header_inner_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="main_banner banner_heading_contact">
              <h1 class="text-white">{{page.banner-heading}}</h1>
              <h5 class="text-white">{{page.banner-content}}</h5>
              <div class="banner_list">
                  <ul>
                      <h5 class="text-white ">Our Aim is to work with your business to</h5>
                      <li>Drive More Sales or Leads</li>
                      <li>Increase Your Advertising ROI</li>
                      <li>Boost Your Revenue</li>
                    </ul>
              </div>
            </div> 
          </div>
          <div class="col-md-6">
              <div id="banner_form_alignment">
                  <h4 class="text-white text-center">{{page.contact-form-heading}}</h4>
                    <!-- <iframe style="display:block;border:0px;width:100%;max-width:400px;margin:auto;height:460px;box-shadow:none;"
                      frameborder="0" src=https://app.leadgenapp.io/#/leadgenform/1a32b2be-fce2-48dc-9075-afc1a85729e6
                      scrolling="no"></iframe> -->
                      <script type="text/javascript" src="https://api.leadgenapp.io/js/lf.min.js/216" async></script><div id="leadgen-form-wrap-216" style="display:block;border:0px;width:100%;max-width:400px;margin:auto;min-height:500px;height:100%;box-shadow:none;"><leadgen-form-216></leadgen-form-216></div>

              </div>
          </div>  
        </div>
      </div>
    </div>
  </section>

<section id="contact_location">
  <div class="container">
      <div class="contact_location_alignment">
        <div class="contact_location_address_alignment">
          <div class="contact_location_london">
           <h5>London</h5>
           <ul>
             <li>Office 7,</li>
             <li>35-37 Ludgate Hill,</li>
             <li>London EC4M 7JN</li>
           </ul>
          </div>
          <div class="contact_location_southend">
              <h5>Southend-on-Sea</h5>
              <ul>
                <li>7th Floor,</li>
                <li>Maitland House Warrior Square,</li>
                <li>Southend-on-Sea SS1 2JY</li>
              </ul>
          </div>
        </div>
         <div class="location_contact_details">
           <h5>Get In Touch By Phone, Live Chat or Email  </h5>
           <ul>
             <li><a href="mailto:info@apexure.com">info@apexure.com</a></li>
             <li><a href="tel:+4402080502404">+44 (0) 20 8050 2404</a></li>
           </ul>
           
         </div>

      </div>
  </div>
</section>
<section id="contact_testiomial">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-10">
        <div class="testimonial-content">
          <h4>
              “We worked with the Apexure team on an important campaign that required six sophisticated landing pages (multiple languages) to be launched in a matter of days.</h4> 
              
              <h4> The team not only delivered, but critiqued our original brief, analysed the pages from a previous campaign to recommend improvements and then delivered pages that helped 
              increase conversion by 20% (on the previous campaign). We were also impressed by the overall speed of delivery, as well as the fast-turnaround of tactical fixes during the campaign itself.”</h4>
          </h4>
        </div>
        <div class="testimonail_by">
            <div class="testimonail_image">
              <img src="{{page.testimonial-review-image}}" alt="testimonial-review-image-alt">
            </div>
            <div class="testimonial_by_name">
                <h5>{{ page.testimonial-review-name-content }}</h5>
                <h5>{{page.testimonial-review-name-company}}</h5>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
  {% include scripts.html %}
  {% include footer.html %}
</body>

</html>
