<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>
      {% include header.html %}
  <section id="homepage_header_wrapper" style="background: linear-gradient(to right, #8a1a9b , #410099);">
  <div class="header_inner_wrapper"> 
   <div class="container">
    <div class="row">
       <div class="homepage_banner_wrapper col-12">
         <div class="homepage_banner">
          <h1>{{page.banner-heading}}</h1>
          <h4>{{page.banner-subheading}}</h4>
          <a href="{{site.baseurl}}{{ page.banner-link }}" class="text-center">{{page.banner-link-heading}}</a>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section>  
  

<section id="homepage_testimonial">
  <div class="container">
     <div class="homepage_testimonial_content">
       <img src="{{site.baseurl}}/images/quote-left.png" alt="quote-left" class="homepage_quote_left">
        <h4>{{ page.review-heading }}</h4>
         {{page.review-description | markdownify}}
        <img src="{{site.baseurl}}{{ page.review-clients-image }}" alt="{{ page.alt-clients-image-title }}" class="img-fluid">
        <h6>{{ page.review-name-heading }}</h6>
     </div>
  </div>
</section>

<section id="what_we_do">
 <div class="container">
   <h2>{{ page.what-we-do-heading }}</h2>     
      {% assign homepagewhatwedo = site.homepagewhatwedo %}
        {% for homepagewhatwedo in site.homepagewhatwedo  %}
      <section class="what_we_do_body pb10">
        <div class="row main_alignment">
              <div class="col-md-6 what_we_do_feature_image">
                <img src="{{site.baseurl}}{{ homepagewhatwedo.image }}" alt="{{ homepagewhatwedo.image-alt-title }}" class="img-fluid" >
              </div>
              <div class="col-md-6 what_we_do_content_wrapper">
                       <h3>{{ homepagewhatwedo.title }}</h3>
                       <div class="what_we_do_content">
                        {{  homepagewhatwedo.description | markdownify }}
                       </div>
                       <a href="{{site.baseurl}}{{ homepagewhatwedo.link }}">
                        <!-- <span class="rounded-circle">
                         <i class="fas fa-long-arrow-alt-right"> </i>
                        </span>  -->
                        <img src="{{site.baseurl}}/images/read-more-arrow.png" alt="read-more-arrow">
                          Read More
                       </a>
              </div>
        </div>   
       </section>
       {% endfor %}
 </div> 
</section>

<section id="homepage_our_customers">
  <div class="container">
    <h2 class="text-center">{{ page.our-customers-heading }}</h2>
   <div class="d-flex align-items-center justify-content-center flex-wrap">
    {% assign homepagecustomers = site.homepagecustomers %}
        {% for homepagecustomers in site.homepagecustomers  %}
          <div class="our_customer_images">
            <img src="{{site.baseurl}}{{ homepagecustomers.image }}" alt="{{ homepagecustomers.image-alt-title }}" class="img-fluid" >
          </div>
       {% endfor %}
    </div>    
  </div>
</section>

<section id="why_choose_us" style="background: #410099;">
 <div class="why_choose_us_content">
  <div class="container">
    <h2>{{ page.why-choose-us-heading }}</h2>

   <div class="why_choose_us_section_wrapper d-lg-flex">
     <div>
         <img class="img-fluid" src="{{site.baseurl}}{{ page.why-choose-us-first-image}}" alt="{{ page.alt-first-image-title }}">
         <h4>{{ page.why-choose-us-first-heading }}</h4>
         {{ page.why-choose-us-first-description | markdownify  }}
     </div>
     <div>
         <img class="img-fluid" src="{{site.baseurl}}{{ page.why-choose-us-second-image}}" alt="{{ page.alt-second-image-title }}">
         <h4>{{ page.why-choose-us-second-heading }}</h4>
         {{ page.why-choose-us-second-description | markdownify  }}
     </div>
     <div>
         <img class="img-fluid" src="{{site.baseurl}}{{ page.why-choose-us-third-image}}" alt="{{ page.alt-third-image-title }}">
         <h4>{{ page.why-choose-us-third-heading }}</h4>
         {{ page.why-choose-us-third-description | markdownify  }}
     </div>
   </div>

  </div>
 </div> 
</section> 

  {% include scripts.html %}
  {% include footer.html %}
  </body>

</html> 
