<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>
      {% include header.html %}
  <section id="header_wrapper" style="background-image: url({{site.baseurl}}{{ page.banner-image }});">

  <div class="general_header_inner_wrapper"> 
   <div class="container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner">
          <h1>{{page.banner-heading}}</h1>
          <h4 class="text-white">{{page.banner-sub-heading}}</h4>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section> 

  {% if page.is-testimonial %} 
  <section id="testimonial">
    <div class="container">
       <div class="homepage_testimonial_content">
         <img src="{{site.baseurl}}/images/quote-left.png" alt="quote-left" class="homepage_quote_left">
          <h4>{{ page.review-heading }}</h4>
           {{page.review-description | markdownify}}
          <h6>{{ page.review-name-heading }}</h6>
          <img src="{{site.baseurl}}{{ page.review-clients-image }}" alt="{{ page.alt-clients-image-title }}" class="img-fluid">
       </div>
    </div>
  </section>
  {% endif %}


  <section id="category_page_gallery">
    <div class="container">
      <h2 class="text-center">{{page.category-heading}}</h2>
      
      <div class="d-flex align-items-center justify-content-center flex-wrap">
          <!-- {% assign squeeze-landingpage = site.squeeze-landingpage %}
            {% for squeeze-landingpage in site.squeeze-landingpage  %}
              
              <div class="category_page_images">
                 <img src="{{site.baseurl}}{{ squeeze-landingpage.image }}" alt="{{ squeeze-landingpage.image-alt-title }}" class="img-fluid" >
                 <div class="category_page_images_overlay">
                    <a href="{{site.baseurl}}{{ squeeze-landingpage.link }}">View Landing Page</a>
                 </div>
              </div>
           {% endfor %} -->
           {% assign main-category = site.main-category %}
            {% for main-category in site.main-category  %}
              {% if main-category.tags contains 'howudish-lp' %}
              <div class="category_page_images">
                 <img src="{{site.baseurl}}{{ main-category.image }}" alt="{{ main-category.image-alt-title }}" class="img-fluid" >
                 <div class="category_page_images_overlay">
                    <a href="{{site.baseurl}}{{ main-category.link }}">View Landing Page</a>
                 </div>
              </div>
              {% endif %}
           {% endfor %}
       </div>    
    </div>
  </section>

  <section id="benefits">
    <div class="container">
      <div class="benefits_content">
        <h2 class="text-white">{{ page.benefits-heading }}</h2>
      </div>
    </div>
  </section> 

  <section id="category_features">
    <div class="container">
      <div class="category_features_wrapper">
         <div class="row">
           <div class="col-md-8 offset-md-2">

            {% if page.is-featured-type-1 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-1-image}}" alt="{{page.feature-type-1-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-1-heading}}</h4>
                   {{page.feature-type-1-description | markdownify}}
                 </div>
              </div>
            {% endif %}

             {% if page.is-featured-type-2 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-2-image}}" alt="{{page.feature-type-2-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-2-heading}}</h4>
                   {{page.feature-type-2-description | markdownify}}
                 </div>
              </div>
            {% endif %}

             {% if page.is-featured-type-3 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-3-image}}" alt="{{page.feature-type-3-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-3-heading}}</h4>
                   {{page.feature-type-3-description | markdownify}}
                 </div>
              </div>
            {% endif %}

             {% if page.is-featured-type-4 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-4-image}}" alt="{{page.feature-type-4-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-4-heading}}</h4>
                   {{page.feature-type-4-description | markdownify}}
                 </div>
              </div>
            {% endif %}

             {% if page.is-featured-type-5 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-5-image}}" alt="{{page.feature-type-5-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-5-heading}}</h4>
                   {{page.feature-type-5-description | markdownify}}
                 </div>
              </div>
            {% endif %}

            {% if page.is-featured-type-6 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-6-image}}" alt="{{page.feature-type-6-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-6-heading}}</h4>
                   {{page.feature-type-6-description | markdownify}}
                 </div>
              </div>
            {% endif %}

            {% if page.is-featured-type-7 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-7-image}}" alt="{{page.feature-type-7-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-7-heading}}</h4>
                   {{page.feature-type-7-description | markdownify}}
                 </div>
              </div>
            {% endif %}

            {% if page.is-featured-type-8 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-8-image}}" alt="{{page.feature-type-8-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-8-heading}}</h4>
                   {{page.feature-type-8-description | markdownify}}
                 </div>
              </div>
            {% endif %}

            {% if page.is-featured-type-9 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-9-image}}" alt="{{page.feature-type-9-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-9-heading}}</h4>
                   {{page.feature-type-9-description | markdownify}}
                 </div>
              </div>
            {% endif %}

            {% if page.is-featured-type-10 %}   
             <div class="category_features_content_wrapper d-md-flex">
                <div>
                  <img src="{{site.baseurl}}/{{page.feature-type-10-image}}" alt="{{page.feature-type-10-heading}}" class="img-fluid">
                </div>
                 <div class="category_features_content">
                   <h4>{{page.feature-type-10-heading}}</h4>
                   {{page.feature-type-10-description | markdownify}}
                 </div>
              </div>
            {% endif %}

           </div>
         </div>
      </div>
    </div>
  </section>

  <section id="cta" style="background-image: url({{site.baseurl}}{{ page.cta-image }});">
    <div class="cta_content">
      <div class="container">
         <h2>{{ page.cta-heading }}</h2>
         <h4>{{ page.cta-sub-heading }}</h4>
         <a href="{{site.baseurl}}{{page.cta-link}}">{{ page.cta-button-heading }}</a>
      </div>
    </div>
  </section> 
  






  {% include scripts.html %}
  {% include footer.html %}
  </body>

</html>