<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
	<body>
      {% include header.html %}
  <section id="header_wrapper" class="banner_new_fav" style="background: #3F2883">;
 
  <div class="general_header_inner_wrapper"> 
   <div class="blog_container_new container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner blog_banner">
          <h1>{{page.title}}</h1>
           <div class="blog_single_banner_alignment d-flex align-items-center justify-content-center">
           	<div class="author_image_wrapper">
           		<img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.author}}" class="rounded-circle img-fluid">
           	</div>
           	 <h4 class="text-white">{{page.author}}</h4>
           	 <h4 class="text-white"> | </h4>
           	 <h4 class="text-white">{{ page.date | date:"%d %b %Y" }} </h4>
           </div>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section> 
  {% include google-tag-manager.html %}
  
  <section class="blog_content">
      <div class="blog_container_new container">
        <div class="row">
          <div class="col">
            <div class="contents">
              <h3>Contents</h3>
            </div>
          </div>
        </div><!-- row ends -->
          <div class="outer_content_section_wrapper">
            <div class="row mx-auto">
              <div class="col-md-4">
                <div class="center_content">
                  <a href="javascript:" class="hover_link" id="first_col"><img src="images/postsimages/why_lp.png" alt="why to use Landing pages" class="img-fluid">
                 <h4>Why use a landing page?</h4></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="center_content">
                  <a href="javascript:" class="hover_link" id="scnd_col"><img src="images/postsimages/lp_gen.png" alt="why to use Landing pages" class="img-fluid">
                  <h4>Landing page generators</h4></a>
                </div>
              </div>
                <div class="col-md-4">
                  <div class="center_content">
                    <a href="javascript:" class="hover_link" id="third_col"><img src="images/postsimages/how-lp-wrk.png" alt="why to use Landing pages" class="img-fluid">
                    <h4>How landing page works?</h4></a>
                  </div>
                </div>
            </div><!-- row-->
          </div> <!-- outer_content_section_wrapper ends -->

          <div class="row mx-auto">
              <div class="col-md-4">
                <div class="center_content">
                  <a href="javascript:" class="hover_link"  id="forth_col"><img src="images/postsimages/is-lp-a-wb.png" alt="why to use Landing pages" class="img-fluid">
                  <h4>Is landing page a website?</h4></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="center_content">
                  <a href="javascript:" class="hover_link"  id="fifth_col"><img src="images/postsimages/diff-types.png" alt="why to use Landing pages" class="img-fluid">
                 <h4>Different types of landing pages</h4></a>
                </div>
              </div>
                <div class="col-md-4">
                  <div class="center_content">
                    <a href="javascript:" class="hover_link" id="sixth_col"><img src="images/postsimages/who-desgn.png" alt="why to use Landing pages" class="img-fluid">
                    <h4>Who design landing pages?</h4></a>
                  </div>
                </div>
            </div>
      </div> <!-- blog container container-->
  </section>

	<section id="blog_single_content_wrapper">
    <div class="blog_container_new container">
      {{content}}
     {{page.section_2-description | markdownify }}
    </div>
  </section>

<!-- Full Width Sections -->
<section class="how_do_you_create_lp" id="how_do_you_create_landing_page">
    <div class="blog_container_new container">
      <div class="row">
        <div class="col">
            <div class="text_part">
                {{page.section-3-description | markdownify }}
            </div> <!--text-part ends --> 
        </div> <!--col ends-->
      </div> <!--row ends--> 
      <div class="row"> <!-- Go simple block-->
          <div class="col">
              <div class="how_to_build_lp">
                {{page.section-3-subheading-description | markdownify }} 
                    <div class="pros_cons_outer_wrapper d-md-flex justify-content-center">
                        <div class="pros">
                          <img src="{{site.baseurl}}{{page.section-3-img1}}" alt="icon" class="img-fluid">
                            <div class="pros_list">
                             {{page.section-3-list-description | markdownify }}
                            </div>
                        </div> <!-- pros ends -->         
                        <div class="pros" id="cons">
                          <img src="{{site.baseurl}}{{page.section-3-img2}}" alt="icon" class="img-fluid">  
                            <div class="pros_list cons_list">
                              {{page.section-3-list2-description | markdownify }}
                            </div>
                        </div>
                    </div> <!-- pros_cons_outer_wrapper ends -->
                </div> <!-- how_to_build_lp ends -->       
            </div> <!-- col ends -->       
        </div> <!-- Go simple row ends-->  
        <div class="row"> <!--using wordpress-->
            <div class="col">
                <div class="how_to_build_lp" id="using_wordpress">
                    {{page.section-3-using-wp-heading-description | markdownify }}   
                    <div class="pros_cons_outer_wrapper d-md-flex justify-content-center">
                        <div class="pros" id="pros_using_wordpress"> <!--pros ul block-->
                            <img src="{{site.baseurl}}{{page.section-3-img4}}" alt="icon" class="img-fluid">
                                <div class="pros_list" id="tick">
                                    {{page.section-3-list3-description | markdownify }}
                                </div>
                        </div> <!-- pros ends --> 
                        <div class="pros" id="cons_using_wordpress"> <!--con ul block-->
                          <img src="{{site.baseurl}}{{page.section-3-img5}}" alt="icon" class="img-fluid">
                            <div class="pros_list cons_list" id="cross">
                                {{page.section-3-list4-description | markdownify }}
                            </div>
                        </div> <!--class="pros" id="cons ends-->
                    </div> <!-- pros_cons_outer_wrapper ends -->
                    </div> <!-- how_to_build_lp ends -->       
                  </div> <!-- col ends -->       
              </div> <!--using worpress row ends--> 
              <div class="row"> <!-- web generators block-->
                <div class="col">
                    <div class="how_to_build_lp">
                        {{page.section-3-web-gen-description | markdownify }}  
                      <div class="bold_text_part">
                        {{page.section-3-here-is-description | markdownify}}
                        </div> <!-- bold_text_part ends-->  
                      <div class="pros_cons_outer_wrapper d-md-flex justify-content-center"> 
                        <div class="pros">
                          <img src="{{site.baseurl}}{{page.section-3-img6}}" alt="icon" class="img-fluid">
                          <div class="pros_list">
                            {{page.section-3-list5-description | markdownify}}
                          </div> <!-- pros_lists ends -->  
                              </div> <!-- pros ends -->         
                              <div class="pros" id="cons">
                                  <img src="{{site.baseurl}}{{page.section-3-img7}}" alt="icon" class="img-fluid">
                                  <div class="pros_list cons_list">
                                      {{page.section-3-list6-description | markdownify}}
                                  </div>
                              </div>
                          </div> <!-- pros_cons_outer_wrapper ends -->
                      </div> <!-- how_to_build_lp ends -->       
                  </div> <!-- col ends -->       
              </div> <!-- web generator row ends-->               
    </div> <!--blog container container ends-->   
</section>

<section class="how_does_a_landing_page_work" id="how_does_a_lp_work">
    <div class="blog_container_new container">
      <div class="how_does_a_lp_work_content">
        {{page.section-4-main-heading-description | markdownify}}
        <div class="row">
          <div class="col-md-6">
            <div class="outer_wrapper">
                {{page.section-4-sub-heading-description | markdownify}}
            </div> <!-- outer_wrapper ends-->
          </div> <!-- col-md-6 ends -->
            <div class="col-md-6">
                <div class="outer_wrapper">
                  {{page.section-4-sub-heading2-description | markdownify}}
                </div> <!-- outer_wrapper ends-->
          </div>    <!-- col-md-6 ends -->    
        </div> <!-- row ends -->
        <div class="row">
            <div class="col-md-6">
              <div class="outer_wrapper">
                {{page.section-4-sub-heading3-description | markdownify}}
              </div> <!-- outer_wrapper ends-->
            </div> <!-- col-md-6 ends -->
              <div class="col-md-6">
                  <div class="outer_wrapper">
                    {{page.section-4-sub-heading4-description | markdownify}}
                  </div> <!-- outer_wrapper ends-->
            </div>    <!-- col-md-6 ends -->    
          </div> <!-- row ends -->
          <div class="row">
            <div class="col">
              {{page.section-4-bottom-heading-description | markdownify}}
            </div>
          </div>
        </div> <!--how_does_a_lp_work_content ends-->
    </div> <!-- blog_container container ends -->
  </section>

  <section class="is_landing_page_a_website" id="is_lp_a_website">
    <div class="blog_container_new container">
        {{page.section-5-main-heading-description | markdownify}}
      <div class="blue_box">
        {{page.section-5-img-description | markdownify}}
      </div> <!-- blue box closes -->
      {{page.section-5-sub-heading-description | markdownify}}
    </div> <!--blog_container container-->
</section>

<section class="types_of_lp" id="types_of_landing_page">
  <div class="purple_box">
   <h3 class="text-white text-center">What are the different types of Landing Pages:</h3>
  </div> <!-- purple_box ends-->
  <div class="blog_container_new container">
    <div class="row">
      <div class="col">
        <div class="landing_page_types_content">
          {{ page.section-6-sub-heading-description | markdownify }}
          <a href="http://www.apexure.com/click-through-landing-page-template/" class="ghost_btn">Click-through landing page examples</a>
          {{page.section-6-sub-heading2-description | markdownify}}
          <a href="http://www.apexure.com/lead-generation-page-template/" class="ghost_btn">Leadgen Landing Page Exampes</a>
          {{ page.section-6-sub-heading3-description | markdownify }}
        </div>  <!-- landing_page_types_content ends -->
      </div> <!-- col ends-->
    </div> <!-- row ends -->
  </div> <!-- blog_container container -->
</section>

<section class="who_designs_lp" id="who_designs_landing_page">
    <div class="blog_container_new container">
      <div class="who_designs_lp_content">
        <div class="row">
          <div class="col">
               {{ page.section-7-main-heading-description | markdownify }}
          </div> <!-- col ends-->
        </div> <!-- row ends-->
        <div class="row">
          <div class="col">
            {{ page.section-7-subheading-description | markdownify }}
          </div> <!-- col ends-->
        </div> <!-- row ends -->
        <div class="row">
          <div class="col who_designs_lp_img_list">
            {{page.section-7-content-description | markdownify }}
          </div> <!-- col who_designs_lp_img_list -->
        </div>  <!-- row ends-->
        <div class="row who_designs_lp_img_list_outer_wrapper">
          <div class="col-md-4 who_designs_lp_img_list">
            {{page.section-7-content2-description | markdownify }}
          </div> <!-- col-md-4 -->
          <div class="col-md-4 who_designs_lp_img_list" id="cnt_crt">
            {{page.section-7-content3-description | markdownify }}
            </div> <!-- col-md-4 -->
            <div class="col-md-4 who_designs_lp_img_list">
              {{page.section-7-content4-description | markdownify }}
              </div> <!-- col-md-4 -->
        </div> <!-- row ends -->
        <div class="row who_designs_lp_img_list_outer_wrapper">
            <div class="col-md-6 who_designs_lp_img_list" id="vertical_align_text">
              {{page.section-7-subheading-2-description | markdownify }}
            </div> <!-- col ends -->
            <div class="col-md-6 who_designs_lp_img_list" id=" who_designs_lp_img_center">
                <img src="{{site.baseurl}}{{page.confirmed_mock_image}}" alt="who designs illustration" class="img-fluid d-block mx-auto">
            </div> <!-- col ends-->
          </div>  <!-- row ends-->
          <div class="row">
            <div class="col">
              <div class="jumbotron_outer_box">
                {{page.section-7-jumbotron-description | markdownify }}
                <div class="book_a_call">
                  {{ page.section-7-book-description | markdownify }}
                </div> <!-- book a call-->
              </div> <!-- jumbotron ends-->
            </div><!-- col -->
          </div><!-- row ends-->
      </div> <!-- who_designs_lp_content -->
    </div> <!-- blog_container container -->  
</section>

<!-- Take away image section -->
  <section id="blog_single_content_wrapper_takeaway">
    <div class="blog_container_new container">
       <div class="blog_take_away_image">
         <img src="{{site.baseurl}}{{page.take-away-image}}" alt="{{page.title}}" class="img-fluid">
       </div>
    </div>
  </section>
  <!-- Take away image section ends -->

  <section id="about_author">
   <div class="blog_container container">
    <div class="about_author_wrapper">
     <h4 class="text-center">About The Author</h4>
          <img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.author}}" class="rounded-circle img-fluid">
          <p>{{page.author-description}}</p>
           <ul class="author_social_links d-flex align-items-center justify-content-center">
                <li>
                  <a href="{{page.facebook-link}}" target="blank"><i class="fab fa-facebook-f rounded-circle"></i></a>
                </li> 
                <li>
                  <a href="{{page.instagram-link}}" target="blank"><i class="fab fa-instagram rounded-circle"></i></a>
                </li> 
                <li>
                  <a href="{{page.twitter-link}}" target="blank"><i class="fab fa-twitter rounded-circle"></i></a>
                </li> 
           </ul>       
    </div> 
   </div> 
  </section>
    {% include social-share.html %}
    <div class="container">
      {% include disqus.html %}
    </div> 
    {% include recent-blog-posts.html %}
	  {% include newsletter.html %}
    {% include javascript_core.html %}     
	</body>

 {% include footer.html %}
</html> 
<!-- #### 2) Using Wordpress\:

section-3-img3: "images/postsimages/6-post-wordpress.jpg"  

  Wordpress is one of the world's favourite Content Management System. We love it too. However, when it comes to Landing Pages we feel Wordpress may not be the right tool for the job. Landing pages are snappy web pages which require less heavy lifting, plugins and code libraries.

  Including a landing page inside a Wordpress website could be an overkill. Having said that though,if done cleverly, you can leverage the power of Wordpress and still build blazing fast pages.  -->