<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>
      {% include header.html %}
  <!-- <section id="header_wrapper" class="banner_new_fav" style="background: #3F2883;"> -->
      <section id="header_wrapper" class="banner_new_fav new-head-top" style="background: #fff;">
 
  <div class="general_header_inner_wrapper"> 
   <div class="blog_container_new container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner blog_banner make-left">
          <h1>{{page.title}}</h1>
           <div class="blog_single_banner_alignment d-flex align-items-center justify-content-center">
            <div class="author_image_wrapper">
              <img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.author}}" class="rounded-circle img-fluid">
            </div>
             <h4 class="text-white">{{page.author}}</h4>
             <h4 class="text-white"> | </h4>
             <h4 class="text-white">{{ page.date | date:"%d %b %Y" }} </h4>
           </div>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section> 
  {% include google-tag-manager.html %}

  <section class="max-966 sec-1">
<!-- 
<div class="color-back" style="background: #8A1A9B;">
<div class="m-title"><h3>Struggling to <span class="heighlight"> generate more leads </span> for your company? </h3></div>
<div class="titlt-title"><h4>If you aren’t already running webinars, you should start experimenting with this strategy, asap. </h4></div>
<a class="bng-btn" href="#">The numbers don’t lie</a>
<div class="row cov-botm">
  <div class="col-sm-6">
   <div class="inr-cont"> <div class="img-cov"> <img src="{{site.baseurl}}/images/img-79.png" alt="{{page.author}}" class="rounded-circle img-fluid"> <span class="num-prs">79</span></div>
  <div class="cont">
    <p>79% of buyers say they will share information in exchange for webinars.
    </p>
  </div>
  </div>
  </div>
  <div class="col-sm-6">
    <div class="inr-cont"> <div class="img-cov">  <img src="{{site.baseurl}}/images/img-73.png" alt="{{page.author}}" class="rounded-circle img-fluid"> <span class="num-prs">73</span></div>
   <div class="cont">
     <p>79% of buyers say they will share information in exchange for webinars.
     </p>
   </div>
   </div>
   </div>  
</div>
</div> -->

<div class="graph-img"><img src="{{ page.top-graph-image }}"></div>
  </section>
  
  <section class="blog_content new-webinar-blog">
      <div class="blog_container_new container">
        <div class="row">
          <div class="col">
            <div class="contents">
              {{ page.mega-guide-title-description | markdownify }}
            </div>
          </div>
        </div><!-- row ends -->
        <div class="section_webinar_cover">
          <div class="outer_content_section_wrapper outer_content_webinar">
            <div class="row mx-auto">
 

                  
        {% assign i = 0 %}
        {% for mega-guide-repeat-description in page.mega-guide-repeat-description %}
            {% assign i = i | plus:1 %}
            <div class="col-md-4">
              <div class="center_content">
                 <a href="javascript:" class="hover_link" id="link-{{ i }}">   {{ mega-guide-repeat-description | markdownify }} </a>
              </div>
            </div>
        {% endfor %}
 
               


            </div><!-- row-->
          </div> <!-- outer_content_section_wrapper ends -->
            </div>

            <div class="make-down-cover">
              <div class="jump-cont">{{ page.mega-guide-bottom-description | markdownify }}</div>
              <a href="javascript:" class="hover_link" id="move-down"> <div class="lets-jump">Let’s Jump Right In! </div>
              <div class="make-center"><img src="images/down.png" alt="down arrow" class="down-arrow"></div></a>
            </div>

      </div> <!-- blog container container-->
  </section>

  <section id="blog_single_content_wrapper" class="md-top">
    <div class="blog_container_new container sec-333" id="why-use-a-landing-page">
      {{content}}
    </div>
  </section>

<!-- Full Width Sections -->
<section class="how_do_you_create_lp" id="how_do_you_create_landing_page">
    <div class="blog_container_new container">
      <div class="wrap-aobut">
 <div class="how-cret">
   <div class="top-sec-how">
<div class="title">
{{ page.how-to-create-description | markdownify }}
 </div>
<div class="border-color blue-brdr">
<div class="create-list">
 
{% for how-to-create-repeater-description in page.how-to-create-repeater-description %}
 
  <div class="mov-wrap">{{ how-to-create-repeater-description | markdownify }}</div>
{% endfor %}      
  
</div>
</div>
 </div>
</div>
</div>
     <!--blog container container ends-->   
</section>

<section class="how_does_a_landing_page_work" id="how_does_a_lp_work">
    <div class="blog_container_new container">
      <div class="h2-title"><h3>{{ page.effective-webinar }}</h3></div>
      <div class="how_does_a_lp_work_content">
        <div class="row"> 
        {% assign a = 0 %}  
        {% for effective-webinar-box-description in page.effective-webinar-box-description %}  
        {% assign a = a | plus:1 %}
          <div class="col-md-4 inline-{{ a }}">
                <div class="outer_wrapper no-height">
                  <div class="teafic-con">
                      {{ effective-webinar-box-description | markdownify }}
                  </div>                  
                </div> <!-- outer_wrapper ends-->
          </div>
          {% endfor %}
        </div>

          <div class="row">
            <div class="col">
             <div class="botom-img"> <img src="{{ page.effective-webinar-image }}"></div>
            </div>
          </div>
        </div> <!--how_does_a_lp_work_content ends-->
    </div> <!-- blog_container container ends -->
  </section>



<section class="types_of_lp" id="is_lp_a_website">
  <div class="purple_box" id="what-fun" >
   <h3 class="text-white text-center">{{ page.what-factors }}</h3>
  </div> <!-- purple_box ends-->
  <div class="blog_container_new container">
    <div class="row">
      <div class="col">
        <div class="landing_page_types_content">
          <div class="fector-box mk-img-cntr">
              {% for what-factors-description in page.what-factors-description %}

              {{ what-factors-description | markdownify }}

              {% endfor %}
          </div>               
        </div>
<div class=" max-680 make-pd">
        <div class="blue-brdr mid-dot-pd">
            <div class="middle-dot">
              <ul> 

                
                    {% for what-factors-points in page.what-factors-points %}
                    <li> <span class="intro">  <i class="fas fa-angle-double-right"></i> </span>
                    {{ what-factors-points | markdownify }}
                       </li>
                    {% endfor %}       
             
                     </li>                                                                   
               </ul>
            </div>
        </div>
      </div>


<div class="landing_page_types_content boder-shadow">

<div class="cutoff-wrap double-after">
<!-- <div class="cut-wrp"><h3>Call To Action Text Ideas:</h3></div> -->
<div class="call-wrap">

{{ page.call-to-action-description | markdownify }}

</div>
</div>
      </div>
      </div> <!-- col ends-->
    </div> <!-- row ends -->
  </div> <!-- blog_container container -->
</section>

<section class="blog_container_new max-966">
<div class="sec-33">
  <div class="form-img">
    <img src="{{ page.form-image }} ">
  </div>
<!-- <div class="title"><h3>Form Fields To Capture:</h3></div>
<div class="row">
  <div class="col-sm-4">
    <ul class="form-wrap">
      <li> <span class="intro">  <i class="fas fa-angle-double-right"></i> </span>
      <p>First name</p>
    </li>
    <li> <span class="intro">  <i class="fas fa-angle-double-right"></i> </span>
    <p>Last Name</p>
    </li>
    <li> <span class="intro">  <i class="fas fa-angle-double-right"></i> </span>
    <p>Email</p>
    </li>
    <li> <span class="intro">  <i class="fas fa-angle-double-right"></i> </span>
    <p>No. of employees
    </p>
    </li>
    <li> <span class="intro">  <i class="fas fa-angle-double-right"></i> </span>
    <p>Country</p>
    </li>
</ul>
</div>
<div class="col-sm-8">
<div class="right-img">
<div class="bottom-img-fect"><img src="images/form-image.png"></div>
</div>
</div>
</div> -->
</div>

</section>



<section class="sec-44">
  <div class="max-966">
    <div class="padding-tb">
      {{ page.live-webinar-description | markdownify }}
  </div>
  </div>
</section>




<section class="back-blue post-lunch">
  
  <div class="max-724">
  <div class="blue-box">  {{ page.post-launch-description | markdownify }}</div>
  </div>
</section>

<section class="sec-44">
  <div class="max-966">
      <div class="reduce-img">
         {{ page.reduce-churn-description | markdownify }}
      </div>
  </div>
</section>


<section class="sec-99">
  <div class="max-966">
    <div class="blue-brdr">
        <div class="cutoff-wrap">
        <div class="quick-logo"><img src="images/tips.png"></div>
        <div class="call-wrap quick-title"> 
        {{ page.tips-description | markdownify }}
        </div>
        </div>      
    </div>

    <div class="non-borber">
        <div class="call-wrap quick-title">
    

        {{ webinar-platform-description | markdownify }}

      
    

        </div>
    </div>    
  </div>
 
</section>


<section class="is_landing_page_a_website sec-45" id="who_designs_landing_page">

      <div class="blog_container_new container"> 
            <div class="jam-wrap">
                <!--  {{ page.platforms-check-out-description | json }}  -->
                {% assign m = 0 %}
                {% for platforms-check-out-description in page.platforms-check-out-description %}
                {% assign m = m | plus:1 %}
                <div class="header-repeater prnt-jam-{{ m }}">
                {% assign p = 0 %}
                {% for platforms in platforms-check-out-description %}
                {% assign p = p | plus:1 %}
                <div class="wrap-blue__br child-jam-{{ p }}">{{ platforms | markdownify }} </div> 

                {% endfor %}
                </div> 

                {% endfor %}  

            </div> 
      </div>
 
</section>





<section class="sec-009">
  
<div class="max-966">

  <div class="best-webi-wrap">
  <div class="title"><h3>{{ page.marketers-looking-title }}</h3></div>

    <div class="bg-grey">
      <div class="bg-g-pd">
          {{ page.marketers-looking-description | markdownify }}
      </div>
    </div>
  </div>

  <div class="best-webi-wrap">
  <div class="title"><h3>{{ page.marketers-looking-title }}</h3></div>

    <div class="bg-grey">
      <div class="bg-g-pd">
            {{ page.marketers-who-description | markdownify }}
      </div>
    </div>
  </div>


</div>
</section>













<section class="types_of_lp" id="types_of_landing_page">
  <div class="purple_box">
   <h3 class="text-white text-center">{{ page.bonus }}</h3>
  </div> <!-- purple_box ends-->
  <div class="blog_container_new container">
    <div class="row">
      <div class="landing_page_types_content">
        <div class="graph-wrap__pd">
        {% for bonus-repeater-description in page.bonus-repeater-description %}
           <div class="graph-cover">{{ bonus-repeater-description | markdownify }}</div> 
        {% endfor %}
        </div>
      </div>
    </div> <!-- row ends -->


<div class="blue-brdr no-border virtual-cover">
<div class="virtual-wrap">
{{ page.virtual-summits-description | markdownify }}
</div>
</div>
  </div> <!-- blog_container container -->
</section>




<section class="bg-bgny sec-100">
  <div class="max-966">
    <div class="final-word">
      <div class="title"><h3>{{ page.final-word }}</h3></div>


      <div class="final-wrap">
        <div class="create-list">
          <ul>
            <li class="wrap-final_rp">
                <div class="mov-wrap">
                  {% for final-word-description  in page.final-word-description  %}
                <div class="final-rp-pd"><div class="final-box   blue-brdr no-border orng-brdr"> {{ final-word-description | markdownify  }}</div></div> 
                {% endfor %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-bold">
      <div class="bottom-alright"><h3>{{ page.final-word-bottom }} </h3></div>
    </div>
  </div>
</section>







 
  <!-- Take away image section ends -->

  <section id="about_author">
   <div class="blog_container container">
    <div class="about_author_wrapper">
     <h4 class="text-center">About The Author</h4>
          <img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.author}}" class="rounded-circle img-fluid">
          <p>{{page.author-description}}</p>
           <ul class="author_social_links d-flex align-items-center justify-content-center">
                <li>
                  <a href="{{page.facebook-link}}" target="blank"><i class="fab fa-facebook-f rounded-circle"></i></a>
                </li> 
                <li>
                  <a href="{{page.instagram-link}}" target="blank"><i class="fab fa-instagram rounded-circle"></i></a>
                </li> 
                <li>
                  <a href="{{page.twitter-link}}" target="blank"><i class="fab fa-twitter rounded-circle"></i></a>
                </li> 
           </ul>       
    </div> 
   </div> 
  </section>
    {% include social-share.html %}
    <div class="container">
      {% include disqus.html %}
    </div> 
    {% include recent-blog-posts.html %}
    {% include newsletter.html %}
    {% include javascript_core.html %}     
  </body>

 {% include footer.html %}
</html> 
<!-- #### 2) Using Wordpress\:

section-3-img3: "images/postsimages/6-post-wordpress.jpg"  

  Wordpress is one of the world's favourite Content Management System. We love it too. However, when it comes to Landing Pages we feel Wordpress may not be the right tool for the job. Landing pages are snappy web pages which require less heavy lifting, plugins and code libraries.

  Including a landing page inside a Wordpress website could be an overkill. Having said that though,if done cleverly, you can leverage the power of Wordpress and still build blazing fast pages.  -->