<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>
      {% include header.html %}
  <section id="header_wrapper" style="background-image: url({{site.baseurl}}{{ page.banner-image }});">
  
  <div class="general_header_inner_wrapper"> 
   <div class="container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner">
          <h1>{{page.banner-heading}}</h1>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section> 



<section id="our_team">
  <div class="container">
      <h2 class="text-center"> {{page.our-team-heading}}</h2>
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <img src="{{site.baseurl}}{{page.our-ceo-image}}" alt="Waseem-bashir" class="img-fluid ceo_image">      
        </div>
         <div class="col-md-7 ">
           <div class="our_team_details">
             <h4>{{page.our-ceo-heading}}</h4>
             <h5>{{page.our-ceo-sub-heading}}</h5>
                {{ page.our-ceo-description | markdownify }}
                <a href="https://twitter.com/waseembashir" target="blank"><i class="fab fa-twitter rounded-circle"></i></a>
                <a href="https://www.linkedin.com/in/waseemb/" target="blank"><i class="fab fa-linkedin rounded-circle"></i></a>
           </div>
         </div>
      </div>

       <img src="{{site.baseurl}}{{page.our-team-image}}" alt="apexure-team"  class="img-fluid our_team_image">
  </div>
</section>


  <section id="cta" style="background-image: url({{site.baseurl}}{{ page.cta-image }});">
    <div class="cta_content">
      <div class="container">
         <h2>{{ page.cta-heading }}</h2>
         <h4>{{ page.cta-sub-heading }}</h4>
         <a href="{{site.baseurl}}{{page.cta-link}}">{{ page.cta-button-heading }}</a>
      </div>
    </div>
  </section> 
  






  {% include scripts.html %}
  {% include footer.html %}
  </body>

</html>