<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>
        {% include header-portfolio.html %}

        {% if page.image %}
            <img src = "{{page.image}}" class="img-fluid portfolio_design_images">
        {% endif %}

    {% include scripts.html %}

    <script>
        $(window).scroll(function() {
          if ($(this).scrollTop() > 1){
           $('.header-dark').addClass('sticky-header');
          }
          else{
            $('.header-dark').removeClass('sticky-header');
          }
    });
    </script>    
    </body>
    </html>