<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
	<body>
      {% include header.html %}
  <section id="header_wrapper" class="banner_new_fav" style="background: #3F2883">

  <div class="general_header_inner_wrapper"> 
   <div class="blog_container container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner blog_banner">
          <h1>{{page.title}}</h1>
           <div class="blog_single_banner_alignment d-flex align-items-center justify-content-center">
           	<div class="author_image_wrapper">
           		<img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.author}}" class="rounded-circle img-fluid">
           	</div>
           	 <h4 class="text-white">{{page.author}}</h4>
           	 <h4 class="text-white"> | </h4>
           	 <h4 class="text-white">{{ page.date | date:"%d %b %Y" }} </h4>
           </div>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section> 
	{% include google-tag-manager.html %}
	<section id="blog_single_content_wrapper">
    <div class="blog_container container">
     {{ content }}
       <div class="blog_take_away_image">
         <img src="{{site.baseurl}}{{page.take-away-image}}" alt="{{page.title}}" class="img-fluid">
       </div>
    </div>
  </section>
  <section id="about_author">
   <div class="blog_container container">
    <div class="about_author_wrapper">
     <h4 class="text-center">About The Author</h4>
          <img src="{{site.baseurl}}{{page.author-image}}" alt="{{page.author}}" class="rounded-circle img-fluid">
          <p>{{page.author-description}}</p>
           <ul class="author_social_links d-flex align-items-center justify-content-center">
                <li>
                  <a href="{{page.facebook-link}}" target="blank"><i class="fab fa-facebook-f rounded-circle"></i></a>
                </li> 
                <li>
                  <a href="{{page.instagram-link}}" target="blank"><i class="fab fa-instagram rounded-circle"></i></a>
                </li> 
                <li>
                  <a href="{{page.twitter-link}}" target="blank"><i class="fab fa-twitter rounded-circle"></i></a>
                </li> 
           </ul>       
    </div> 
   </div> 
  </section>
    {% include social-share.html %}
    <div class="container">
      {% include disqus.html %}
    </div> 
    {% include recent-blog-posts.html %}
	  {% include newsletter.html %}
    {% include javascript_core.html %}     
	</body>

 {% include footer.html %}
</html> 
