<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>
      {% include header.html %}
  <section id="header_wrapper" style="background:linear-gradient(to right, #8a1a9b , #410099);">

  <div class="general_header_inner_wrapper"> 
   <div class="container">
    <div class="row">
       <div class="col-12">
         <div class="main_banner">
          <h1>{{page.banner-heading}}</h1>
         </div>
       </div>
    </div>    
   </div>
  </div> 
  </section> 

<section id="our_story">
  <div class="container">
    <h2 class="text-center">{{ page.our-story-heading }}</h2>
    <h4 class="text-center">{{ page.our-story-sub-heading }}</h4>
     <div class="row journey_alignment">
       <div class="col-sm-12 col-md-6">
          <img src="{{site.baseurl}}{{page.our-story-image}}" alt="{{page.alt-our-story-text}}" class="img-fluid our_story_image">
          <div class="d-flex justify-content-between clients_employees">
              <div class="our_stats d-flex align-items-center">
                 <div>
                    <img src="{{site.baseurl}}{{page.customers-logo-image}}" alt="apexure-customers-number">
                 </div>
                 <div class="our_stats_content">
                   <h4>{{page.customer-number-heading}}</h4>
                   <h5>{{page.customer-sub-heading}}</h5>
                 </div>
              </div>
              <div class="our_stats d-flex align-items-center">
                 <div>
                    <img src="{{site.baseurl}}{{page.employee-logo-image}}" alt="apexure-employee-number">
                 </div>
                 <div class="our_stats_content">
                   <h4>{{page.employee-number-heading}}</h4>
                   <h5>{{page.employee-sub-heading}}</h5>
                 </div>
              </div>
          </div>
       </div>
       <div class="col-sm-12 col-md-6">
         <div class="">
            <h4>{{ page.our-story-content-heading }}</h4>
            {{ page.our-story-content-description | markdownify }}
            <h6>{{ page.our-story-main-goal-content }}</h6>
         </div>
       </div>
     </div>

  </div>
</section>

<section id="what_we_believe">
  <div class="container">
    <h2 class="text-center">{{page.what-we-believe-heading}}</h2>
    <nav>
      <div class="nav nav-tabs justify-content-around" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#first-tab" role="tab" aria-controls="first-tab" aria-selected="true">
          {{page.nav-first-heading}}
        </a>
        <a class="nav-item nav-link" id="second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="second-tab" aria-selected="false">
          {{page.nav-second-heading}}
        </a>
        <a class="nav-item nav-link" id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" aria-selected="false">
          {{page.nav-third-heading}}
        </a>
        <a class="nav-item nav-link" id="nav-fourth-tab" data-toggle="tab" href="#nav-fourth" role="tab" aria-controls="nav-fourth" aria-selected="false">
         {{page.nav-fourth-heading}}
        </a>
        <a class="nav-item nav-link" id="nav-five-tab" data-toggle="tab" href="#nav-five" role="tab" aria-controls="nav-five" aria-selected="false">
         {{page.nav-fifth-heading}}
        </a>
      </div>
    </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="first-tab" role="tabpanel" aria-labelledby="nav-home-tab">
          
          <div class="what_we_belive_tab_content text-center">
             <img class="img-fluid" src="{{site.baseurl}}{{page.nav-first-image}}" alt="apexure-nav-icon">
              {{page.nav-first-description | markdownify }}
          </div>

        </div>
        <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
            <div class="what_we_belive_tab_content text-center">
             <img class="img-fluid" src="{{site.baseurl}}{{page.nav-second-image}}" alt="apexure-nav-icon">
              {{page.nav-second-description | markdownify }}
          </div>
        </div>
        <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
            <div class="what_we_belive_tab_content text-center">
             <img class="img-fluid" src="{{site.baseurl}}{{page.nav-third-image}}" alt="apexure-nav-icon">
              {{page.nav-third-description | markdownify }}
          </div>
        </div>
        <div class="tab-pane fade" id="nav-fourth" role="tabpanel" aria-labelledby="nav-fourth-tab">
            <div class="what_we_belive_tab_content text-center">
             <img class="img-fluid" src="{{site.baseurl}}{{page.nav-fourth-image}}" alt="apexure-nav-icon">
              {{page.nav-fourth-description | markdownify }}
          </div>
        </div>
        <div class="tab-pane fade" id="nav-five" role="tabpanel" aria-labelledby="nav-five-tab">
           <div class="what_we_belive_tab_content text-center">
             <img class="img-fluid" src="{{site.baseurl}}{{page.nav-fifth-image}}" alt="apexure-nav-icon">
              {{page.nav-fifth-description | markdownify }}
          </div>
        </div>
      </div>

      
  </div>
</section>

<section id="our_customers">
  <div class="container">
    <h2 class="text-center">{{ page.our-customers-heading }}</h2>
   <div class="our_customer_images_wrapper d-flex align-items-center flex-wrap">
    {% assign customers = site.customers %}
        {% for customers in site.customers  %}
          <div class="our_customer_images">
            <img src="{{site.baseurl}}{{ customers.image }}" alt="{{ customers.image-alt-title }}" class="img-fluid" >
          </div>
       {% endfor %}
    </div>    
  </div>
</section>

<section id="who_we_are_testimonial">
  <div class="container text-center">
   <img class="img-fluid" src="{{site.baseurl}}{{ page.testimonial-quotation-image }}" alt="Apexure Quote Review" id="quotation">
     <h4 class="pb20">{{ page.testimonial-heading }}</h4>
       {{ page.testimonial-description | markdownify }}
      <img class="img-fluid" src="{{site.baseurl}}{{ page.testimonial-review-image }}" alt="{{page.testimonial-review-name-content}}">
      <h6> {{page.testimonial-review-name-content }}</h6>
  </div>
</section>

  <section id="cta" style="background: #410099;">
    <div class="cta_content">
      <div class="container">
         <h2>{{ page.cta-heading }}</h2>
         <h4>{{ page.cta-sub-heading }}</h4>
         <a href="{{site.baseurl}}{{page.cta-link}}">{{ page.cta-button-heading }}</a>
      </div>
    </div>
  </section> 
  






  {% include scripts.html %}
  {% include footer.html %}
  </body>

</html>